body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    border-radius: 5px;
}

.movie-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.movie-poster {
    flex: 1;
    margin-right: 20px;
}

.movie-poster img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie-info {
    flex: 2;
    /* text-align: justify; */
    justify-content: space-between;
}

 a {
    text-decoration: none;
    color: #fff;
 }

@media screen and (max-width: 700px) {
    .movie-details {
        flex-direction: column;
    }
}